<header>
  <div class="pos-f-t container">
    <nav class="navbar">
        <button class="navbar-toggler" id="burger" (click)="openSideBar()">
            <span class="fa fa-bars"></span>
        </button>
        <a href="#"><b>שלום ישראל ישראלי</b> | התנתק</a>
        <a href="#" class="pos_abs">מקורות מימון</a>
    </nav>
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
            <h4 class="text-white"> content</h4>
            <span class="text-muted">content</span>
        </div>
    </div>
</div>
</header>

<div class="header">
    <nav class="navbar">
        <ul class="menu" id="menu">
            <li class="menu-item"><a href="#" class="menu-link">Menu Item</a></li>
            <li class="menu-item"><a href="#" class="menu-link">Menu Item</a></li>
            <li class="menu-item"><a href="#" class="menu-link">Menu Item</a></li>
            <li class="menu-item"><a href="#" class="menu-link">Menu Item</a></li>
            <li class="menu-item"><a href="#" class="menu-link">Menu Item</a></li>
        </ul>
    </nav>
</div>

<div class="logo_bar">
    <div class="container">
        <div class="row">
            <div class="col-md-6">

            </div>
            <div class="col-md-6">
                <img src="../../../../assets/images/logo.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</div>

