<volcani-header></volcani-header>
<router-outlet>
    <div class="modal fade" id="new_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body pt-5">
                <h4>?האם למחוק את מקור המימון 22-3345 <img src="assets/images/Group 118.png" alt=""></h4>
            </div>
            <div class="modal-footer border-none d-flex">
                <div class="col-md-1"></div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal">מחיקה</button>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-3"> <button type="button" class="btn btn-secondary btn-sm">ביטול</button></div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
</div>
</router-outlet>
<volcani-footer></volcani-footer>
