<section class="above_table">
    <div class="container">
        <div class="row">
            <div class="col-md-12 hd_tex mb-5">
                <h1>חיפוש מקורות מימון</h1>
            </div>
        </div>
        <form>
            <div class="row flex-row-reverse mb-5">
                <div class="col-12 col-md-2 col-sm-2">
                    <div class="md-form">
                        <input type="text"  id="form22" class="form-control">
                        <label for="form22">מטבע</label>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-sm-4">
                    <div class="md-form">
                        <input type="text"  id="form21" class="form-control">
                        <label for="form21">מטבע</label>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-sm-4">
                    <div class="md-form">
                        <input type="text"  id="form23" class="form-control">
                        <label for="form23">מטבע</label>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-2 d-flex cst_btns">
                    <button class="btn btn-secondary">   נקה</button>
                    <button class="btn btn-primary">חפש</button>
                </div>
            </div>
        </form>
    </div>
</section>

<section class="table_sec mb-5">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-2 col-sm-2">
                <button class="btn btn-primary">הוסף מקור מימון חדש <span>+</span></button>
            </div>
            <div class="col-md-2 col-sm-2">
                <button class="btn btn-primary">מסגרות / קודי הוצאה</button>
            </div>
            <div class="col-md-8 col-sm-8 text-right">
                <h1>נמצאו סה"כ 32 תוצאות</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table_sec">
                    <table class="table" id="change-attr">
                        <thead>
                            <tr>
                                <th></th>
                                <th>מאושר
                                    בלבד</th>
                                <th>פעיל</th>
                                <th>איש קשר</th>
                                <th>מטבע</th>
                                <th>קבוצת מקור
                                    מימון</th>
                                <th>תיאור</th>
                                <th>קוד מקור
                                    מימון <i class="fa fa-caret-down"></i></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="btn-group btn-group-sm">
                                        <button type="button"
                                            class="btn btn-danger dropdown-toggle dropdown-toggle-split"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#"><span>הצגה </span> <img
                                                    src="assets/images/eye.png" alt=""></a>
                                            <a class="dropdown-item" href="#"><span>עריכה </span><img
                                                    src="assets/images/edit.png" alt=""></a>
                                            <a class="dropdown-item" href="#"><span>שכפול </span><img
                                                    src="assets/images/copy.png" alt=""></a>
                                            <a class="dropdown-item" href="#"><span>מחיקה </span><img
                                                    src="assets/images/delete.png" alt=""></a>
                                        </div>
                                    </div>
                                </td>
                                <td><img src="assets/images/tick.png" alt=""></td>
                                <td><img src="assets/images/tick.png" alt=""></td>
                                <td>פרופ' נמי פסטר</td>
                                <td>00</td>
                                <td>61</td>
                                <td>...קרן המדען הראשי - מיזמים ייעודיים משולבים</td>
                                <td>02-6382</td>
                                <td>
                                    <div class="custom-control custom-checkbox mr-sm-2">
                                        <input type="checkbox" class="custom-control-input"
                                            id="customControlAutosizing">
                                        <label class="custom-control-label" for="customControlAutosizing"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="btn-group btn-group-sm">
                                        <button type="button"
                                            class="btn btn-danger dropdown-toggle dropdown-toggle-split"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#"><span>הצגה </span> <img
                                                    src="assets/images/eye.png" alt=""></a>
                                            <a class="dropdown-item" href="#"><span>עריכה </span><img
                                                    src="assets/images/edit.png" alt=""></a>
                                            <a class="dropdown-item" href="#"><span>שכפול </span><img
                                                    src="assets/images/copy.png" alt=""></a>
                                            <a class="dropdown-item" href="#"><span>מחיקה </span><img
                                                    src="assets/images/delete.png" alt=""></a>
                                        </div>
                                    </div>
                                </td>
                                <td><img src="assets/images/tick.png" alt=""></td>
                                <td><img src="assets/images/x.png" alt=""></td>
                                <td>פרופ' נמי פסטר</td>
                                <td>00</td>
                                <td>61</td>
                                <td>...קרן המדען הראשי - מיזמים ייעודיים משולבים</td>
                                <td>02-6382</td>
                                <td>
                                    <div class="custom-control custom-checkbox mr-sm-2">
                                        <input type="checkbox" class="custom-control-input"
                                            id="customControlAutosizing">
                                        <label class="custom-control-label" for="customControlAutosizing"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="btn-group btn-group-sm">
                                        <button type="button"
                                            class="btn btn-danger dropdown-toggle dropdown-toggle-split"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#"><span>הצגה </span> <img
                                                    src="assets/images/eye.png" alt=""></a>
                                            <a class="dropdown-item" href="#"><span>עריכה </span><img
                                                    src="assets/images/edit.png" alt=""></a>
                                            <a class="dropdown-item" href="#"><span>שכפול </span><img
                                                    src="assets/images/copy.png" alt=""></a>
                                            <a class="dropdown-item" href="#"><span>מחיקה </span><img
                                                    src="assets/images/delete.png" alt=""></a>
                                        </div>
                                    </div>
                                </td>
                                <td><img src="assets/images/tick.png" alt=""></td>
                                <td><img src="assets/images/tick.png" alt=""></td>
                                <td>פרופ' נמי פסטר</td>
                                <td>00</td>
                                <td>61</td>
                                <td>...קרן המדען הראשי - מיזמים ייעודיים משולבים</td>
                                <td>02-6382</td>
                                <td>
                                    <div class="custom-control custom-checkbox mr-sm-2">
                                        <input type="checkbox" class="custom-control-input"
                                            id="customControlAutosizing">
                                        <label class="custom-control-label" for="customControlAutosizing"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="btn-group btn-group-sm">
                                        <button type="button"
                                            class="btn btn-danger dropdown-toggle dropdown-toggle-split"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#"><span>הצגה </span> <img
                                                    src="assets/images/eye.png" alt=""></a>
                                            <a class="dropdown-item" href="#"><span>עריכה </span><img
                                                    src="assets/images/edit.png" alt=""></a>
                                            <a class="dropdown-item" href="#"><span>שכפול </span><img
                                                    src="assets/images/copy.png" alt=""></a>
                                            <a class="dropdown-item" href="#"><span>מחיקה </span><img
                                                    src="assets/images/delete.png" alt=""></a>
                                        </div>
                                    </div>
                                </td>
                                <td><img src="assets/images/tick.png" alt=""></td>
                                <td><img src="assets/images/tick.png" alt=""></td>
                                <td>פרופ' נמי פסטר</td>
                                <td>00</td>
                                <td>61</td>
                                <td>...קרן המדען הראשי - מיזמים ייעודיים משולבים</td>
                                <td>02-6382</td>
                                <td>
                                    <div class="custom-control custom-checkbox mr-sm-2">
                                        <input type="checkbox" class="custom-control-input"
                                            id="customControlAutosizing">
                                        <label class="custom-control-label" for="customControlAutosizing"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="btn-group btn-group-sm">
                                        <button type="button"
                                            class="btn btn-danger dropdown-toggle dropdown-toggle-split"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#"><span>הצגה </span> <img
                                                    src="assets/images/eye.png" alt=""></a>
                                            <a class="dropdown-item" href="#"><span>עריכה </span><img
                                                    src="assets/images/edit.png" alt=""></a>
                                            <a class="dropdown-item" href="#"><span>שכפול </span><img
                                                    src="assets/images/copy.png" alt=""></a>
                                            <a class="dropdown-item" href="#"><span>מחיקה </span><img
                                                    src="assets/images/delete.png" alt=""></a>
                                        </div>
                                    </div>
                                </td>
                                <td><img src="assets/images/tick.png" alt=""></td>
                                <td><img src="assets/images/tick.png" alt=""></td>
                                <td>פרופ' נמי פסטר</td>
                                <td>00</td>
                                <td>61</td>
                                <td>...קרן המדען הראשי - מיזמים ייעודיים משולבים</td>
                                <td>02-6382</td>
                                <td>
                                    <div class="custom-control custom-checkbox mr-sm-2">
                                        <input type="checkbox" class="custom-control-input"
                                            id="customControlAutosizing">
                                        <label class="custom-control-label" for="customControlAutosizing"></label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-8">

            </div>
            <div class="col-md-4 btn_rit d-flex">
                <button class="btn btn-dark mr-2 w-50">
                    מחיקה
                </button>
                <button class="btn btn-light mr-2 w-50">
                    נבחרו 3 רשומות
                </button>
            </div>
        </div>
    </div>
</section>