<section class="form_one">
    <form class="d-block">
        <div class="container">
            <div class="row">
                <div class="col-md-12 hd_tex">
                    <h1>עריכת מקור מימון</h1>
                </div>
                <div class="col-md-12">
                    <div class="row flex-row-reverse mb-5">
                        <div class="col-md-12 field_header mb-5">
                            <h1>פרטים פיננסיים</h1>
                        </div>
                        <div class="col-md-2">
                            <div class="md-form">
                                <input type="text" id="form1" class="form-control">
                                <label for="form1"> קוד מקור מימון <span>*</span></label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="md-form">
                                <input type="text" id="form2" class="form-control">
                                <label for="form2"> קרן המדען הראשי - מיזמים ייעודיים משולבים בעלי חש
                                    <span>*</span></label>
                            </div>
                        </div>
                        <div class="col-md-2 ">
                            <div class="md-form">
                                <input type="text" id="form3" class="form-control">
                                <label for="form3">קבוצת מקור מימון</label>
                            </div>
                        </div>
                        <div class="col-md-2 ">
                            <div class="md-form">
                                <input type="text" id="form4" class="form-control">
                                <label for="form4">כתובת</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row flex-row-reverse mb-5">
                <div class="col-md-12 field_header mb-5">
                    <h1>פרטי כתובת</h1>
                </div>
                <div class="col-md-3">
                    <div class="md-form">
                        <input type="text" id="form5" class="form-control">
                        <label for="form5">כתובת</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="md-form">
                        <input type="text" id="form6" class="form-control">
                        <label for="form6">עיר</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="md-form">
                        <input type="text" id="form7" class="form-control">
                        <label for="form7">ארץ</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="md-form">
                        <input type="text" id="form8" class="form-control">
                        <label for="form8">מיקוד</label>
                    </div>
                </div>
            </div>
            <div class="row flex-row-reverse mb-5 width_auto">
                <div class="col-md-12 field_header mb-5">
                    <h1>פרטי קשר</h1>
                </div>
                <div class="col-md-2">
                    <div class="md-form">
                        <input type="text" id="form9" class="form-control">
                        <label for="form9">טלפון</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="md-form">
                        <input type="text" id="form10" class="form-control">
                        <label for="form10">פקס</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="md-form">
                        <input type="text" id="form11" class="form-control">
                        <label for="form11">איש קשר</label>
                    </div>
                </div>
                <div class="col">
                    <div class="md-form">
                        <input type="text" id="form12" class="form-control">
                        <label for="form12">מקור מימון מאושר</label>
                    </div>
                </div>
                <div class="col">
                    <div class="md-form">
                        <input type="text" id="form13" class="form-control">
                        <label for="form13">לקוח מרכבה</label>
                    </div>
                </div>
            </div>

            <div class="row flex-row-reverse mb-5">
                <div class="col-md-2 col-12">
                    <!-- Default -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="defaultChecked2">
                        <label class="custom-control-label" for="defaultChecked2">מאושר בלבד</label>
                    </div>
                </div>
                <div class="col-md-1 col-12">
                    <!-- Default -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="defaultChecked3">
                        <label class="custom-control-label" for="defaultChecked3">פעיל</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <!-- Default -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="defaultChecked4">
                        <label class="custom-control-label" for="defaultChecked4">חלוקה למסגרות חובה</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <span class="help-block"></span>
                        <input type="date" class="form-control" id="dob" placeholder="תאריך תחילת פרוט תקציבי">
                    </div>
                </div>
                <div class=" col-md-2">
                    <button class="btn btn-primary">ניהול סעיפי הוצאה</button>
                </div>
                <div class="col-2">

                </div>
            </div>

        </div>
    </form>
</section>

<section class="form_one_btns pt-4 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <button class="btn btn-primary" data-toggle="modal" data-target="#new_modal">עדכן</button>
            </div>
            <div class="col-md-2">
                <button class="btn btn-secondary">חזרה ללא שמירה</button>
            </div>
            <div class="col-md-2">
                <button class="btn btn-dark">מחיקה</button>
            </div>
        </div>
    </div>
</section>
